# environment variables
.env

# mac related unwanted files
.DS_Store

# testing directory
testing/

# pycache folder
__pycache__/

# local testing folder for package
src/root_kit.egg-info/

# distribution folder
dist/

# test YAML for modular deployments
test.yaml